<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1268},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>play_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,154},{26,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,156}}</string>
                <key>sourceSize</key>
                <string>{26,156}</string>
            </dict>
            <key>play_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{732,1138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,1138}}</string>
                <key>sourceSize</key>
                <string>{732,1138}</string>
            </dict>
            <key>play_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{732,1138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,1138}}</string>
                <key>sourceSize</key>
                <string>{732,1138}</string>
            </dict>
            <key>play_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{732,1138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,1138}}</string>
                <key>sourceSize</key>
                <string>{732,1138}</string>
            </dict>
            <key>play_bg_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1876},{732,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,127}}</string>
                <key>sourceSize</key>
                <string>{732,127}</string>
            </dict>
            <key>play_bg_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1876},{732,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,127}}</string>
                <key>sourceSize</key>
                <string>{732,127}</string>
            </dict>
            <key>play_bg_up_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1344},{50,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{50,64}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>play_bg_up_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,104},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>play_brick_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,900},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_double_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,900},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,988},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_gold_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,900},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_goldicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,68},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>play_brick_lucky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,812},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_lucky_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,812},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,812},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_move_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,1828},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1916},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_normal_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1828},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_shadow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1268},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>play_brick_shadow_strip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1764},{192,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,102}}</string>
                <key>sourceSize</key>
                <string>{192,102}</string>
            </dict>
            <key>play_brick_shadow_triangle_bl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1372},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>play_brick_shadow_triangle_br.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1268},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>play_brick_shadow_triangle_tl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1764},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>play_brick_shadow_triangle_tr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1764},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>play_brick_strip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,1764},{176,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,86}}</string>
                <key>sourceSize</key>
                <string>{176,86}</string>
            </dict>
            <key>play_brick_strip_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1764},{176,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,86}}</string>
                <key>sourceSize</key>
                <string>{176,86}</string>
            </dict>
            <key>play_brick_triangle_lowl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1740},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_triangle_lowl_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1652},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_triangle_lowr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1636},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_triangle_lowr_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1564},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_triangle_upl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1548},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_triangle_upl_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1460},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_triangle_upr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1372},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_brick_triangle_upr_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1476},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>play_double_bg_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1764},{211,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,101}}</string>
                <key>sourceSize</key>
                <string>{211,101}</string>
            </dict>
            <key>play_floor_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,526},{288,284}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,284}}</string>
                <key>sourceSize</key>
                <string>{298,284}</string>
            </dict>
            <key>play_gameover_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,918},{348,266}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,266}}</string>
                <key>sourceSize</key>
                <string>{352,266}</string>
            </dict>
            <key>play_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2023,104},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>play_perfect_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,526},{390,276}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,119},{390,276}}</string>
                <key>sourceSize</key>
                <string>{522,522}</string>
            </dict>
            <key>play_perfect_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{522,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,522}}</string>
                <key>sourceSize</key>
                <string>{522,522}</string>
            </dict>
            <key>play_perfect_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1640},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>play_special_icon_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1586},{52,56}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{52,56}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>play_special_icon_boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,1942},{54,60}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{54,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>play_special_icon_boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1464},{62,66}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>play_special_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1532},{52,56}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{52,56}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>play_special_icon_random1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,1942},{54,60}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{54,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>play_special_icon_random2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1868},{64,68}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{64,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>play_special_icon_transverse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,1942},{54,60}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{54,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>play_special_icon_transverse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1396},{62,66}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>play_special_icon_vertical1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1942},{54,60}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{54,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>play_special_icon_vertical2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1934},{62,66}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>text_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,2},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>zd_djsy_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1142},{620,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,620}}</string>
                <key>sourceSize</key>
                <string>{620,620}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_obj.pvr.ccz</string>
            <key>size</key>
            <string>{2042,2005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5766cf85cea70221744c598dd9948407$</string>
            <key>textureFileName</key>
            <string>game_obj.pvr.ccz</string>
        </dict>
    </dict>
</plist>
