<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_us_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{484,629}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{484,629}}</string>
                <key>sourceSize</key>
                <string>{642,737}</string>
            </dict>
            <key>choice_Ball_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1886},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>choice_Ball_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1886},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>choice_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{558,868}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{558,868}}</string>
                <key>sourceSize</key>
                <string>{642,868}</string>
            </dict>
            <key>choice_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,633},{484,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{484,154}}</string>
                <key>sourceSize</key>
                <string>{642,154}</string>
            </dict>
            <key>choice_bg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1114},{484,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{484,112}}</string>
                <key>sourceSize</key>
                <string>{642,112}</string>
            </dict>
            <key>choice_bg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,958},{478,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{478,154}}</string>
                <key>sourceSize</key>
                <string>{642,154}</string>
            </dict>
            <key>choice_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1766},{122,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>choice_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1886},{122,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>choice_role_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1397},{146,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,176}}</string>
                <key>sourceSize</key>
                <string>{146,176}</string>
            </dict>
            <key>choice_role_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1402},{146,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,176}}</string>
                <key>sourceSize</key>
                <string>{146,176}</string>
            </dict>
            <key>home_7day_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{528,672}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{528,672}}</string>
                <key>sourceSize</key>
                <string>{642,738}</string>
            </dict>
            <key>home_7day_prize_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1730},{164,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,165}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1545},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1714},{164,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,165}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1550},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1719},{164,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,165}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1666},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1564},{164,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,165}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1375},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1072},{164,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,165}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,1228},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_6a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1397},{164,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,165}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1228},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_7a.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1848},{478,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{478,165}}</string>
                <key>sourceSize</key>
                <string>{478,167}</string>
            </dict>
            <key>home_7day_prize_7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,789},{478,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,167}}</string>
                <key>sourceSize</key>
                <string>{478,167}</string>
            </dict>
            <key>home_7day_prize_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1896},{92,97}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,53},{92,97}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_prize_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,1239},{110,91}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,54},{110,91}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>home_7day_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1162},{368,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,91}}</string>
                <key>sourceSize</key>
                <string>{368,91}</string>
            </dict>
            <key>home_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{732,1138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,1138}}</string>
                <key>sourceSize</key>
                <string>{732,1138}</string>
            </dict>
            <key>home_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1674},{482,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,172}}</string>
                <key>sourceSize</key>
                <string>{482,172}</string>
            </dict>
            <key>home_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1500},{482,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,172}}</string>
                <key>sourceSize</key>
                <string>{482,172}</string>
            </dict>
            <key>home_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,2},{482,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,172}}</string>
                <key>sourceSize</key>
                <string>{482,172}</string>
            </dict>
            <key>home_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,676},{484,506}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,82},{484,506}}</string>
                <key>sourceSize</key>
                <string>{642,738}</string>
            </dict>
            <key>home_button_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,1544},{66,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{66,58}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>home_button_about_ol.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1900},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{62,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>home_button_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1896},{116,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>home_button_role_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1228},{170,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,172}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>home_button_role_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1239},{134,134}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{134,134}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>home_button_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1881},{116,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>home_button_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,486},{320,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,142}}</string>
                <key>sourceSize</key>
                <string>{320,142}</string>
            </dict>
            <key>home_head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1544},{86,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,15},{86,132}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>home_head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,1632},{84,132}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,15},{84,132}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>home_head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1900},{90,132}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,15},{90,132}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>home_head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,1766},{90,132}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{90,132}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>home_head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1632},{90,132}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{90,132}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>home_head_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1532},{130,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{130,132}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>home_head_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,925},{90,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{90,132}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>home_logo_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1162},{543,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,336}}</string>
                <key>sourceSize</key>
                <string>{543,336}</string>
            </dict>
            <key>home_lqcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,808},{262,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,112}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>home_syz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,808},{93,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,115}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_ui.pvr.ccz</string>
            <key>size</key>
            <string>{1933,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c2559b8c12d76d9a6e4498a1e518043$</string>
            <key>textureFileName</key>
            <string>home_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
